#container-volume {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(178, 154, 154);
    border: 2px solid #ff1867;
    box-shadow: 0 0 35px #ff1867;
    border-radius: 8px;
    margin: 0 auto;
    padding: 50px;
    font-size: 20px;
}

#container-volume__title {
    background-color: hsl(216, 86%, 11%);
    padding: 20px 40px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.798);
    border: 1px solid #ff1867;
    transform: translateY(-100%);
}

#container-volume .container-volume__selected-shape,
.container-volume__button-submit {
    padding-bottom: 50px;
}

#container-volume .container-volume__result {
    display: flex;
    padding: 50px;

}

#container-volume h2 {
    font-family: 'MonteCarlo', cursive;
    font-size: 50px;
}

#container-volume select,
input {
    font-size: 24px;
    margin-left: 10px;
}

label,
input {
    margin-top: 30px;
    margin-bottom: 30px;
}

#output {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 24px;
    color: #fff;
}

.btn__icon:hover {
    border: 3px solid #ff1867;
    border-radius: 50px;
    padding: 7px;
}

#lengthPrism, #widthPrism, #heightPrism {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
